 .popup__container {
  background-color: white;
  max-width: 430px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
  }
}
